<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select Biker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="">
    </ion-avatar>
    <ion-label lines="none">
      <h2>yesooooo</h2>
      <p>How farss</p>
    </ion-label>
    <ion-label>Rating: 
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-label> 

  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="">
    </ion-avatar>
    <ion-label lines="none">
      <h2>yesooooo</h2>
      <p>How farss</p>
    </ion-label>
    <ion-label>Rating: 
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </ion-label> 

  </ion-item>

 </ion-list>
</ion-content>
